body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#container{
    height: 600px;
    max-width: 300px;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 240px;
    box-shadow: 5px 10px #888888;
}

.item{
    
}

#catlist {
	align-self: center;
}

#cat-image {
	height: 200px;
	max-width: 250px;
	width: auto;
	border-radius: 25px ;
}